@media only screen and (max-width: 768px) {
  .content-table {
    width: 90%;
  }
}

*{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
  background-color: #dcdcdc;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h5 {
  font-weight: 600;
  color: #fafafa;
  text-align: left;
  background-color: rgba(31, 128, 57, 0.9);
  color: #fff;
  padding: 1rem 1rem;
 
}

.content-table {
  position: absolute;
  left: 50%;
  top: 20%;
  width: 800px;
  height: 200px;
  transform: translate(-50%);
  background-color: #fafafa;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.content-table thead tr{
  background-color: #3e413f;
  color: #fafafa;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1rem;
  
}

.content-table th,
.content-table td {
padding: 12px 15px;  

}

.content-table tbody tr {
border-bottom: 1px solid #d5d5d5ca;
transition: all .2s ease-in;
cursor: pointer;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #3e413f;
}

.content-table tbody tr:hover {
  background-color: #d5d5d5ca;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

