*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #ccc;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  background: rgba(31, 128, 57, 0.9);
  height: 50px;
  width:100%;
  padding: "20px";
  display: flexbox;
  
}

.header h5 {
  
  color: #fafafa;
  text-align: justify;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.container {
  max-width: 1440px;
  width:max-content ;
  position: absolute;
  top:10%;
  left: 5%;
  right: 5%;
  bottom: 0;
  z-index: 1;
  opacity: 0.9;
  background: rgb(175, 175, 175);
  border-radius: 12px 12px 0 0;
  
}

.table {
  position:absolute;
  z-index: 2;
  left: 5%;
  top: 15%;
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 12px 12px;
  overflow: hidden;
  box-shadow: 0 12px 5px rgba(32, 32, 32, .3);
  background: #fafafa;
  text-align: center;

}

.table thead th{
  background: rgba(38, 42, 39, 0.9);
  color: #fafafa;
  font-size: 1rem;
  padding: 0.8rem;
  letter-spacing: 0.1rem;
  vertical-align: top;
}

